{% extends '_layout.html' %}
{% block title %}Upload | packhost{% endblock title %}
{% block h1title %}Upload Resource Pack{% endblock h1title %}
{% block css %}<link rel="stylesheet" href="/static/css/Upload.css">{% endblock css %}
{% block js %}<script src="https://challenges.cloudflare.com/turnstile/v0/api.js?onload=_turnstileCb" async defer></script>{% endblock js %}
{% block content %}
<div style="text-align: center">
    <div style="text-align: left; margin-left: 30px;">
      <form id="upload-form" method="post" action="/API/v1/GUI/Upload" enctype="multipart/form-data">
        <input type="file" name="file" accept=".zip">
          <div class="checkbox mb-3">
      <div id="turnstileWidget"></div>
    </div>
        <button type="submit" class="loginbutton">Upload ZIP</button>
      </form>
    </div>
    <div id="progress-container">
      <div id="progress-bar">
        <div id="progress-text">0%</div>
      </div>
    </div>
    <div id="download-link">
      <a id="download-button" href="#" class="loginbutton">Download ZIP</a>
    </div>
</div>
<br>
<br>
<script src="static/Scripts/Upload.js"></script>
<script src="static/Scrips/Turnstile.js"></script>
{% endblock content %}
